<a href="https://colab.research.google.com/github/HussainBadreddeen/AutoML_Thesis/blob/main/hard_dataset_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


# from google.colab import drive
# drive.mount('/content/drive')


file_path = "/content/drive/MyDrive/thesisdata/balanced-reviews.txt"

# Load as a DataFrame (change delimiter if needed)
df = pd.read_csv(file_path, sep="\t", encoding="utf-16")  # Try "," if "\t" doesn’t work

# Show the first few rows
print(df.head())
df.info()

   no Hotel name  rating    user type                   room type  \
0   2    فندق 72       2  مسافر منفرد  غرفة ديلوكس مزدوجة أو توأم
1   3    فندق 72       5          زوج  غرفة ديلوكس مزدوجة أو توأم
2  16    فندق 72       5          زوج                           -
3  20    فندق 72       1          زوج          غرفة قياسية مزدوجة
4  23    فندق 72       4          زوج  غرفة ديلوكس مزدوجة أو توأم

            nights                                             review
0  أقمت ليلة واحدة                  “ممتاز”. النظافة والطاقم متعاون.
1  أقمت ليلة واحدة  استثنائي. سهولة إنهاء المعاملة في الاستقبال. ل...
2      أقمت ليلتين  استثنائي. انصح بأختيار الاسويت و بالاخص غرفه ر...
3  أقمت ليلة واحدة  “استغرب تقييم الفندق كخمس نجوم”. لا شي. يستحق ...
4      أقمت ليلتين  جيد. المكان جميل وهاديء. كل شي جيد ونظيف بس كا...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105698 entries, 0 to 105697
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   no          105698 non-null  int64
 1   Hotel name  105698 non-null  object
 2   rating      105698 non-null  int64
 3   user type   105698 non-null  object
 4   room type   105698 non-null  object
 5   nights      105698 non-null  object
 6   review      105698 non-null  object
dtypes: int64(2), object(5)
memory usage: 5.6+ MB